[2017-05-03 22:08] captncraig opened #2 "Allow user to supply own login form template"
It would be nice if the user could supply their own login form template. I'd recommend

[code]

They could do a simple static button if need be, or something more complicated using a go template. Should look it up relative to the site's root probably. In any case, should probably cache the template, rather than parsing it each time.

[2017-05-03 22:10] captncraig opened #3 "Caddyfile path parameter is a bit confusing"
I had to do some digging to see why I need to supply `login / {` at all. I first thought that was the "protected" paths, but since this does no authorization at all, that wasn't it.

Turns out that is the location to mount the "/login" routes. Does that really need to be a **required** top level argument? What if it was a simple config line `login_path` that defaults to `/login` or something like

[2017-05-04 05:13] mholt commented on #2
I prefer `login_template` over `loginTemplate`. ;)

[2017-05-04 05:15] mholt opened #4 "Make subdirective names consistent"
Mostly a nit, but directives (and subdirectives) usually follow `underscore_convention` rather than `camelCase` or `hyphen-convention`.

(I realize this isn't clear up front; I'm finishing drafting up a new wiki page in the Caddy plugin developer docs to describe these little things that plugin developers should know.)

[2017-05-04 19:41] smancke opened #6 "Configurable expiry time for jwt token an cookie"
The token needs an expiry time set.
There is already a branch: expiry-time, which should be extended and tetes.

[2017-05-04 19:49] smancke opened #7 "Enhancements on secret handling"
Some ideas:

* The generated secret could be stored in a file, to be preserved through reboots.
* Support for asymmetric encryption would be good. In that case, the public key could be provided via rest resource.
* For key rotation in production, a list of keys should be supported in caddy-jwt and loginsrv
* Auto key rotation would be cool

[2017-05-04 19:54] smancke opened #8 "Post login callbacks"
It would be great to support a configurable callback after a successful login:
* As go function, which could be registered
* As http endpoint

The callback should be receive the following data:
* claim data
* the raw user data from the oauth provider
* The access token from the oauth provider

A callback should be able to return a modified claim data object.

[2017-05-04 19:54] smancke opened #9 "Remove uic-fragment Tags out of the template"

[2017-05-05 17:53] smancke commented on #4
fixed, now the plugin understands both conventions

[2017-05-05 17:53] #4 closed

[2017-05-05 17:53] smancke commented on #3
fixed

[2017-05-05 17:53] #3 closed

[2017-05-08 16:00] zbindenren opened #11 "LDAP Support"
LDAP as backend would be nice.

[2017-05-08 17:57] smancke commented on #11
Yes, would be not to much work and a very common use case.
To code could be similar to: https://github.com/jtblin/go-ldap-client

It's not one of my personal usecases, so I can't promise any timeline for that.
Of course, I would welcome a contribution ;-)

[2017-05-09 16:42] smancke commented on #2
Now I made just `template`.

But I did not find a way to resolve the template path relative to the webroot or caddyfile.
@mholt Is there a convention, how relative path arguments should be interpreted or resolved in caddy plugins?

[2017-05-09 16:54] captncraig commented on #2
As an additional option, what if I just say `template pass` or something, so that it just serves gets to `/login` from whatever application or files are naturally underneath. Would allow my proxied app to just have its own login page.

[2017-05-09 16:58] smancke commented on #2
@captncraig Yes, good idea!
But I have to think about it a little bit, because the _pass_ option would make  no sense in the loginsrv standalone usecase.

[2017-05-09 17:54] mholt commented on #2
@smancke You can grab the site root from the SiteConfig through the Controller. Typically things are relative to site root; Caddyfiles aren't always files on disk, so never do anything relative to the Caddyfile. The only other option is present working directory (which often varies or is not even known by some server admins, sigh). So go with site root.

[2017-05-12 12:17] smancke commented on #2
Implemented now, with lookup relative to the site root.

[2017-05-12 12:17] #2 closed

[2017-05-13 20:26] #6 closed

[2017-05-16 06:44] magikstm opened #20 "Caddy usage - htpasswd file isn't reloaded (on insert, on update or on delete)"
Tested on Windows 7 x64:

Launched with: go run main.go

My caddyfile is:

If I:
1) Add a user
2) Remove a user
3) Update a user's password

htpasswd file isn't reloaded.

Another service on my server "adds", "removes" or "updates" users on the htpasswd file I wish to use and I would want loginsrv to use the current credentials available in the file instead of the content it had on launch.

[2017-05-17 22:27] magikstm commented on #20
Is this enhancement planned to be completed soon?

It is as mentioned above in apache and nginx.

If not and if it is a feature that may be added, I could maybe try to contribute a fix for it. I'm not that good in Go though (I'm more a .Net or PHP developer). If possible, please provide me some basic specs on how you would wish for it to be completed.

[2017-05-18 06:38] smancke commented on #20
I like the feature, but I'm a little bit short on time, currently.
So, if you want to give it a try, this would be fine .. if it's not perfect, I 'll overwork it afterwards.

How to implement it:
- Store the modification timestamp (os.Stat()) after parsing the file
- Create a method reloadIfChanged which compares the current and the stored timestamp an calls parse again. This method can be called

[2017-05-22 03:22] magikstm commented on #20
Thanks for the info.

I submitted PR #21 for it. It's probably incomplete though.

[2017-05-23 21:17] mholt opened #22 "Submit to Caddy website"
Hey @smancke do you have plans to publish this to the Caddy website? Since your directive was added to Caddy and released, it's ready to be used by everyone.

[2017-05-23 21:34] smancke commented on #22
Hi @mholt, yes, definitely!
My plan is to do this in the next week, because I want check it carefully and I'm very busy these days.

[2017-05-23 21:50] mholt commented on #22
Sounds great! Let me know if something doesn't work or you have any questions.

[2017-05-26 13:29] domano opened #25 "Dockerfile without USER"
Currently the container runs as root. It would be better to create a user specifically for running loginsrv in the Dockerfile.

[2017-05-30 21:18] magikstm commented on #20
I've just been notified of the merge. Thanks for finalizing the tests for me. I didn't know how to fully do it. I'll review it to learn from it.

Thanks a lot @smancke . I really like this feature.

[2017-05-30 21:18] #20 closed

[2017-05-31 16:21] domano commented on #25
https://github.com/tarent/loginsrv/pull/28
Merged and closed

[2017-05-31 16:21] #25 closed

[2017-05-31 19:48] smancke commented on #22
I have published the plugin, and done some basic tests.
@magikstm Please also give me your feedback, if also everything works for you.

I'll do an announcement in the caddy forum, tomorrow.

@mholt The developer portal is very cool and worked very nice!
Although, I have some minor suggestions/feedback:
* On editing the plugin details page, it is not clear, where I can use markup and not all my mar

[2017-05-31 19:48] #22 closed

[2017-05-31 20:17] magikstm commented on #22
I added "http.jwt" and "http.login" with the install package and tested functionalities I'm using at the moment on Windows 7 x64.

Everything I use with htpasswd files work well.

Thanks a lot.

[2017-06-02 14:06] jgillich commented on #8
I think using a [plugin](https://golang.org/pkg/plugin/) architecture is a more universal and efficient approach here. In [billstack](https://gitlab.com/faststack/billstack), I'm currently calling stripe at a few places:

* At login, to extend the claims
* At signup, to create a customer along with the cc token
* When updating user information, to update the cc token

In addition to that, there ar

[2017-06-02 14:30] smancke commented on #8
@jgillich In fact I plan to have both:
1. a hook, where you can register a custom function to be called after the login
2. a simple default implementation for that hook, calling a http endpoint

[2017-06-13 05:12] magikstm opened #31 "Brute force protection on htpasswd login backend"
I've been getting some brute force attempts recently on the htpasswd login protection used with caddy and loginsrv. I've been looking for a way to mitigate these.

I did get such attacks from time to time with apache. I use fail2ban for these on apache.

Would there be a free solution that may be added that may fit within the scope of the project that may be used on a static site solely with html,

[2017-06-13 05:32] magikstm commented on #31
I'm open to any solution:
- Another Caddy plugin
- An external tool
- An integration in this plugin
- etc.

It's not an issue per-se, but I felt it was best here as others may have similar needs. Or there may be a way currently that I don't know and it may help others.

I've looked and I've found a few captcha plugins available in Go (a few specifically with google recaptcha). It may not be the be

[2017-06-13 05:41] smancke commented on #31
The Bcrypt algorythm solves this problem by adding a compute time to the password check.
You should generate your passwords with the option `-B -C 15` when creating with htpasswd:

`
        -B     Use bcrypt encryption for passwords. This is currently considered to be very secure.

       -C     This  flag  is  only allowed in combination with -B (bcrypt encryption). It sets the computing time us

[2017-06-13 06:41] magikstm commented on #31
Thanks @smancke.

I read on it following your suggestion. I'll have to learn more on it and test it with my hardware.

I can control new users and passwords, but I'm not using it currently. I'll have to read on how I could add it to my current workflow and how I could convert my current user:password combinations to it.

[2017-06-13 07:10] smancke commented on #31
We are currently considering -C 15 as save enough

[2017-06-14 06:37] magikstm commented on #31
Thanks @smancke. It works really better than I expected even with 1000 users. It takes a reasonable time if the password is the right one or if it's wrong.

I'll close this issue.

I used that code in PHP to generate usernames and passwords in case it may help others:

`<?php
ini_set('max_execution_time', 5000);

//usernumber start variable
$start = 0;

//bcrypt cost
$bcryptOptions = ['cost' => 15

[2017-06-14 06:37] #31 closed

[2017-06-14 06:43] smancke commented on #31
ok, great!

[2017-06-19 08:01] magikstm opened #32 "Caddy - Use {user} placeholder for logs"
Request based on these:
https://github.com/mholt/caddy/pull/1542
https://github.com/mholt/caddy/issues/1543

It's still under development, but it'll probably be possible with lines similar to these:
[code]

[2017-06-19 08:17] magikstm commented on #8
I may use these hooks for a "password sharing detection" plugin.

After 5 or 10 logins from different IPs within a set amount of time (maybe 24h) it would mark that account as "potentially shared" and return an html page notifying the user. I may need that eventually with htpasswd.

[2017-06-19 08:31] smancke commented on #8
ok, cool, nice idea.
I will definitely implement this 'post login callback' feature, since I will need it by my self, also. But it will take 2-4 weeks, until I come to that.

[2017-06-19 19:34] jgillich commented on #8
Just to clarify, the ability to register custom functions is going to be implemented using [plugins](https://golang.org/pkg/plugin/)? We probably meant the same and were just using different terminology.

[2017-06-23 07:53] mrik974 commented on #11
I suggest, as a workaround until the LDAP integration is done, that you use an intermediary Oauth2 provider, such as Keycloak.

[2017-07-05 17:04] abourget opened #36 "Support GitHub Enterprise via some more config"
Would it be very complex to allow the endpoints to be changed, in order to support GHE ?

[2017-07-05 20:58] smancke commented on #36
Hi,

yes, should be easy.
Does GH Enterprise has a fixed endpoint or is it individual for each
account?
Otherwise a second provider would be more usable for users.

Regards

Am 05.07.2017 19:04 schrieb "Alexandre Bourget" <notifications@github.com>:

[2017-07-20 21:20] odinuge opened #37 "Github organization and team support"
It would be nice with support for allowing whole organizations/teams to login. All teams/orgs can be added to the `JWT_TOKEN`, and use the jwt plugin to allow users by org/team-name(s). It would be up to the user to add `read:org` scope, allowing the plugin to also see hidden memberships.

It would be nice with some input about if and how to implement it. Guess I can implement it if you like the i

[2017-07-26 09:50] smancke commented on #37
Hi @odinuge,
I like the idea!
I have to think about the structure of the user object with the grants in #8. After that, it would be very simple to implement this one.

[2017-08-07 04:47] magikstm opened #39 "htpasswd - Possible multiple htpasswd file is not documented and another undocumented feature"
Main page currently lists this parameter for htpasswd:
[code]

This commit added the possibility to use multiple htpasswd files: https://github.com/tarent/loginsrv/commit/6e6acbb7c127403f27508c39617c9300a3ebaeba

It should probably be documented in the main page.

The possible use of "files" (which may provide the same feature) is currently undocumented:
https://github.com/tarent/loginsrv/blob/mas

[2017-08-23 22:09] pjeby commented on #11
Wouldn't Keycloak require a custom Provider implementation?  Or have I missed something in the documentation about how to specify an Oauth2 provider other than google or github?

[2017-08-24 15:27] freb opened #42 "Correct 'scope' for Google OAuth2"
I'm trying to get the Google OAuth2 backend working with Caddy, but I believe I am stuck on finding the right value for the scope parameter. These are what I've tried:

- `profile`
- `https://www.googleapis.com/auth/plus.login`
- `https://www.googleapis.com/auth/plus.me`

but they all error with:

    error="invalid google response: no email address returned."

Any thoughts on the scope I should b

[2017-08-24 18:52] chriswessels commented on #42
@freb Try with the `email` scope

[2017-08-24 19:11] freb commented on #42
Thank you @chriswessels, that worked! I guess maybe it should have been obvious by the error message.

Thanks again.

[2017-08-24 19:11] #42 closed

[2017-08-24 21:04] chriswessels commented on #42
My pleasure @freb 😄

[2017-08-24 21:12] freb opened #43 "Restrict access by OAuth2 domain"
My goal is to be able to limit access to some backend applications using Google OAuth2. I'm a Google Apps user and would like to start by limiting access by domain. Using `loginsrv` with `caddy-jwt` there doesn't seem to be a way to limit access based on the email address domain. It seems it would require support for regex in the caddy-jwt plugin for field values or perhaps I'm missing a simpler s

[2017-08-25 09:09] smancke commented on #43
Hi @freb,
it is definitely in scope for loginsrv to extend it in this way.
Currently I have no good idea, about a common structure of the UserInfo Object.
There needs to be a structure, which is suitable for a broader set of OauthProvider (z.g. google, github, facebook, Keycloak and others)

Also see #8 and #37 for that.

[2017-08-25 20:53] freb commented on #43
I read the other two issues, and either of them would solve my use case. I'm always a fan of being able to inject custom functionality, weather through calling an external script, callback function, plugin, etc. It allows you to do more than just manipulate the UserInfo.

I'm really only familiar authenticating against the Google API and haven't looked much into what other information would be nic

[2017-08-28 06:35] bs-matil opened #44 "OpenIdConnect/Keycloak Support"
Would be greate to implement openidconnect in addition of the proprietary outh2 flows of github and google. Also this would then integrate with keycloak and enable a broad amount of integration scenarios. Like serving LDAP/SAML via keycloak instead of implementing everything here again.

[2017-09-01 11:57] jsahlen opened #45 "Dynamic success URL"
I think it would be great if the success URL could be set on a case-by-case basis, as a parameter. Useful when the user has been redirected to the authentication flow automatically—they can then be dropped back on the original URL they were trying to visit, after successfully authenticating.

For username/password-based authentication, I imagine it as a `GET` parameter on the `/login` endpoint: `/

[2017-09-01 12:13] smancke commented on #45
Hi @jsahlen,

i see the need for that feature. But a free chooseable redirect parameter is a security problem:
e.g. see: https://www.owasp.org/index.php/Unvalidated_Redirects_and_Forwards_Cheat_Sheet

So we would need something to check the allowed redirects against.

[2017-09-01 12:19] jsahlen commented on #45
@smancke Ah yes, that is definitely a valid concern. For me personally, setting a list of valid domains (or a pattern) as a config option would suffice (probably combined with an option to explicitly allow these types of redirects), but I can see how it would require more thought to do it the right way for other applications.

[2017-09-07 22:33] magikstm opened #46 "Multiple forward slashes in paths may pass-through security with htpasswd"
related to https://github.com/mholt/caddy/issues/1859.

With this minimal caddyfile:
[code]

multiple forward slashes may pass-through the security.

I did these tests:
1) http://localhost:8080/members/1.jpg (redirects to login)
2) http://localhost:8080//members/1.jpg (passes through login and shows the image)
3) http://localhost:8080//members//1.jpg (passes through login and shows the image)
4) h

[2017-09-07 22:43] smancke commented on #46
Hey @magikstm, that looks critical.
But if so, than it would be a bug in jwt-Plugin, not in loginsrv, right?
@BTBurke, please take a look

[2017-09-07 22:45] magikstm commented on #46
I think it's a bug in Caddy as reported by @hstaugaard (see https://github.com/mholt/caddy/issues/1859).

Unsure though. Just took the time to read it, test it and confirm it.

It also seems critical to me.

[2017-09-07 22:53] smancke commented on #46
Ok, I'll close it here, because the in loginsrv I can't do anything for that.
It has to be solved in caddy or the jwt plugin.

[2017-09-07 22:53] #46 closed

[2017-10-13 08:22] lhopki01 commented on #43
Hi I've made a change to include domain for google oauth.
https://github.com/tarent/loginsrv/pull/48

[2017-10-19 16:18] freb commented on #43
Thanks for this @lhopki01. I ended up just listing the full email addresses individually so kind of dropped the ball on this. Since its now fixed I'm closing the issue.

[2017-10-19 16:18] #43 closed

[2017-10-23 17:23] Danielhiversen opened #50 "Oauth2"
I have the following config:

[code]

How can specify which user to have access?

[2017-10-24 13:27] Danielhiversen commented on #50
I guess this should work:
`
    allow email xxx@xxxx.com
`

But I am getting this error message:
`ERRO[0137]                                               error="got http status 403 on google get user info" type=application`
I have also tried with `scope=email`

[2017-11-07 18:01] jamesboswell commented on #32
@magikstm see https://github.com/mholt/caddy/pull/1937

[code]

[2017-11-07 20:57] afdecastro879 opened #51 "Bitbucket Oauth2 support"
I've working with this library for a couple of months, but now we need Bitbucket Oauth2 support. Would be nice to add it to the providers list.

I can actually start working on this.

[2017-11-08 02:50] magikstm commented on #32
I'll submit a PR in a few hours to add this feature.

[2017-11-08 08:16] smancke commented on #51
Hey @afdecastro879, would be cool to have a Bitbucket provider. Of course, I would welcome a PR for this :)

[2017-11-11 01:42] magikstm commented on #45
Depending on your needs, I would suggest using a cookie that may be set on the login page and read on success to provide this feature. Possibly in javascript or in the language of your application.

This could be done by editing the template using the `-template` parameter.

If you link to an external javascript you could even adjust these without having to restart Caddy or your application.

[2017-11-11 08:19] lhopki01 commented on #45
@smancke in reference to https://github.com/tarent/loginsrv/pull/53 Is this a case of open redirect vulnerability if all that's passing around is the path?  IE the current -success-url flag is actually only the path.  Building on this wouldn't open a security vulnerability?

@magikstm I thought of using a session cookie but decided against it but now that smancke has pointed out the concurrency is

[2017-11-11 16:33] magikstm commented on #45
@lhopki01 it really depends on your exact needs. An implementation using cookies would be vulnerable to CSRF. If intended use would be only to redirect to a limited and controlled list of success url I think it might be a reasonable way to do it.

@smancke could it be an acceptable solution or you would prefer to keep loginsrv free of such risks?

I checked and there doesn't seem to be tests for `

[2017-11-12 23:50] lhopki01 commented on #45
@magikstm @smancke Maybe I'm missing something here but I don't understand the attack vector.  My understanding of open redirect is that it allows redirecting to another domain.  Since this isn't an open redirect but rather a constructed one from the static domain + variable path surely it can't be used for anything that can't be done already.  The window of attack between directing someone to exa

[2017-11-13 00:35] magikstm commented on #45
See these refs:
1) https://www.owasp.org/index.php/Unvalidated_Redirects_and_Forwards_Cheat_Sheet
2) https://blog.qualys.com/securitylabs/2016/01/07/open-redirection-a-simple-vulnerability-threatens-your-web-applications

As @smancke mentioned, it needs to be handled with a lot of care or it may open the site to unwanted redirects that may put users at risk. A white-list of accepted urls and/or do

[2017-11-13 15:27] lhopki01 commented on #45
@magikstm I've read the refs and I'd like to talk about two situations.  The first is domain redirects and the second is path redirects.

1. Domain redirects would need a whitelist of domains that are allowable to redirect to.  I can do this if desired but I think it should be a separate piece of work.  It would be easy to implement as a whitelist file and a parameter to give the location of the f

[2017-11-13 15:33] jsahlen commented on #45
I just wanted to add my thanks to @magikstm for the client side idea — I had not thought of that. Since my use is just for an internal prototype, this is fine for now.

Very interesting to follow the discussion about security implications though!

[2017-11-14 01:10] magikstm commented on #32
Following the merge of #52 I'll close this issue.

[2017-11-14 01:10] #32 closed

[2017-11-14 01:14] magikstm commented on #45
It's not an easy feature to implement, it adds complexity and it adds an extra potential layer of vulnerability.

@smancke, does this feature fit in the scope of the project?

Could you give a roadmap of accepted specs possibly in one or small iterations that may be added over time?

[2017-11-14 19:20] smancke commented on #51
done :)

[2017-11-14 19:20] #51 closed

[2017-11-14 19:24] afdecastro879 commented on #51
Thanks a lot :)

[2017-11-14 20:21] smancke commented on #45
Thanks for the already good discussion!

Yes, I think may people will need this.

As you mentioned, there are two cases:
1. Redirect to external domain
  Attack: Phishing
  Prevention: Whitelist of allowed domains and/or config flag if external redirect should be allowed at all
2. Local redirects:
  Attack: The main vector here is to use the open redirect in combination with other vulnerabilities

[2017-11-14 21:58] magikstm commented on #45
These would be good:
- alllowRedirects (default: true)
- preventExternalRedirects (default: true)

I'm unsure about the last one. (checkReferrerOnRedirects)

It:
- May not be sent by the browser (some drop it or plugins may drop it for privacy reasons)
- May be dropped on a HTTP > HTTPS switch
- May be stripped by proxies or tools on a network

Refs:
https://stackoverflow.com/questions/6023941/how

[2017-11-15 10:56] lhopki01 commented on #50
@Danielhiversen scope `scope=https://www.googleapis.com/auth/userinfo.email` is correct but I think from what I remember that I had to enable the api if you're using a custom google domain.

https://support.google.com/a/answer/60757?hl=en

[2017-11-15 11:34] dobegor opened #57 "google: Configuration to restrict to specific domain"
A special paramater [hd](https://developers.google.com/identity/protocols/OpenIDConnect#hd-param) ("hosted domain") can be used to restrict authentication for specific domain, i.e. email@yourcompany.com.

It would be a very nice feature to setup some in-home only services behind a loginsrv+caddy.

[2017-11-15 14:50] lhopki01 commented on #45
I have to agree with @magikstm that checkRefererOnRedirects might be an issue.  I did some experimenting when using caddy with loginsrv and jwt and the redirect from jwt unauthorised to the login page doesn't have a referer header so already one use case might be troublesome.  Additionally it is fairly easy to spoof that header isn't it?

Of further consideration is how to handle cases when it's a

[2017-11-15 16:28] lhopki01 commented on #57
@dobegor This can be done for google oauth.  It adds the domain to the jwt and you can then restrict using the jwt block in the caddy config with `allow domain yourcompany.com`

Are you using google oauth?

[2017-11-15 16:37] dobegor commented on #57
@lhopki01 could you please provide an example configuration?
Also, AFAIK, this will work, but if you pass additional `hd` parameter login form in google won't even allow to enter email with another domain name.

[2017-11-15 16:42] lhopki01 commented on #57
@dobegor
[code]
I don't quite understand what you meant in the second section.

[2017-11-15 16:45] dobegor commented on #57
https://snag.gy/Dvts5w.jpg

If you pass the `hd` paramater, Google's sign-in form will only allow you to login using corporate account.

[2017-11-15 17:10] lhopki01 commented on #57
I don't think that the plugin is using the open connect api.

[2017-11-16 02:40] magikstm commented on #45
I would suggest using `-success-url` in these cases.

I would suggest using an external json or similar file to allow change without having to restart server.

[2017-11-16 12:03] dobegor commented on #57
@lhopki01 yeah, I was assuming this for some reason.
I get this error: `got http status 403 on google get user info` when trying to log in via google.

Scope: `scope=https://www.googleapis.com/auth/userinfo.email`
Authorized redirect URLs are set correctly.

[2017-11-16 13:12] dobegor opened #58 "oauth2: got http status 403 on google get user info"
Caddyfile:
[code]

Upon login it shows "Internal error" and an error in log: `oauth2: got http status 403 on google get user info`

Also tried these scopes: `https://www.googleapis.com/auth/plus.me`, `https://www.googleapis.com/auth/plus.login` with same effect.

Client ID and Client Secret are created for a fresh sample project. Same Client ID and secret work  for [bitly/oauth2_proxy](https://git

[2017-11-16 13:12] dobegor commented on #57
As this has nothing to do with domain-specific login, I'm closing this issue.

[2017-11-16 13:12] #57 closed

[2017-11-17 10:47] domudall commented on #58
Also having this issue, tried with the following permissions (both with and without custom domain):

[code]

Custom domain has API's enabled, and the OAuth app in Google Cloud has no additional settings that would change any behaviour.

[2017-11-17 10:49] dobegor commented on #58
I've managed to fix this, @domudall
I've enabled Google Plus API and Google People API. It worked after a minute or so. Works great for me now.

[2017-11-17 10:51] smancke commented on #58
@dobegor Good to here that!!
Maybe you could file a PR for the README, so that others do not have to figure that out by there self?

[2017-11-17 10:52] dobegor commented on #58
@smancke sure, will do that. Just need to check if both APIs are required to work. Google's OAuth 2 Scopes doc has absolutely zero info on this, unfortunately.

[2017-11-17 11:35] domudall commented on #58
Amazing, thanks all. Managed to get it working with just the Google+ API (tried just People first, then disabled). Here's a direct link to enable for anyone who finds this issue before the README PR: https://console.cloud.google.com/apis/library/people.googleapis.com/

[2017-11-17 16:03] #58 closed

[2017-11-17 17:46] lhopki01 commented on #45
So I've done a bit of a preliminary implementation if you can have a look.  I've tried to default safe in all cases.

Still to do
  - Implement the whitelist domains file.  I'm still thinking about how best to do this.  Json or yaml seems a bit of an overkill for what could really just be a file with one domain per line.  It will also require an additional parameter WhiteListDomainsFile.
  - Write

[2017-11-17 18:08] smancke commented on #45
cool, I will try to look into it, this weekend.

[2017-11-19 15:43] smancke commented on #50
Works for me also.
@Danielhiversen Please reopen, if you still have a problem.

[2017-11-19 15:43] #50 closed

[2017-11-21 10:17] scottjbarr opened #60 "Facebook provider"
Are you interested in having support for Facebook login? (Twitter is also useful in my case).

Oauth2 is supported, so I imagine it could fit in ok. Maybe I'm missing something in the docs?

[2017-11-21 10:28] smancke commented on #60
Hey Scott, would be cool to have those!!
A PR is very welcome!  If you look at the other provider, it's rather simple to implement them.

[2017-11-22 19:58] smancke commented on #45
Hi @lhopki01,
now I got the time to look over it: I like the general approach!
Some points, I came across:
- I would leave the file based whitelisting out in the first step. This is a good extension at a later point
- Maybe it would be better to push the helper methods in a separate file (e.g. called 'redirect.go')
- When ever an error is ignored '_' the reason should be explained in a mini commen

[2017-11-22 21:11] afdecastro879 opened #61 "After Login Success API Calls using access token from Oauth2 providers"
I've been struggling a little bit finding a way to use the access token for after-login-success API calls to Github and Bitbucket providers. Is there a way I can use the access token, send it somewhere in my code to be saved?

I've seen #8 seems to be the solution to this problem using a post login call back. Will this issue be solved on the short term? Does someone know a way I can actually do a

[2017-11-22 21:47] smancke commented on #61
Hi @afdecastro879 There is currently no solution for that and I will not have the time to implement it soon. So I would very welcome a PR on it :)

I think it is rather simple to do a post login callback, but there are multiple possible ways to do this:
1. Some global function, to register some go code. which is called after a sucessful login.
2. An http-url which gets a POST
(Since the second one

[2017-11-23 16:46] lhopki01 commented on #45
@smancke I've opened a new pull request.
https://github.com/tarent/loginsrv/pull/62

[2018-02-10 01:22] tdorsey opened #65 "Update Google OAuth to use standard OpenID endpoints"
Is there any interest in updating the google oauth provider to use google's OAuth endpoints instead of requiring the people API? I'll admit to having walked into this one face first, and it seems like others have as well (ref #59) Right now, the auth and token endpoints are hardcoded in the project. See https://developers.google.com/identity/protocols/OpenIDConnect#discovery. If there aren't objec

[2018-02-10 07:18] smancke commented on #65
I was not aware of the differences of the api's. It looks like a good idea to change it, so a pull request is welcome! But we have to ensure, that the existing installations of users do not break.
So it would be good to test first, that no config actions are required on the google side for our users.

[2018-02-11 01:56] pinghe opened #66 "support http2?"
support http2?

[2018-02-12 21:42] smancke commented on #66
HTTP2 support would only be about enabling ssl,
but I guess all the people are using loginsrv behind some kind of reverse proxy anyways .. so I'm not sure it this would be useful for anybody ..

[2018-02-18 16:15] #66 closed

[2018-02-18 16:16] smancke commented on #45
Merged with #64

[2018-02-18 16:16] #45 closed

[2018-02-20 08:12] afdecastro879 commented on #61
@smancke I just have the time again to look at this issue. I have some questions

1.  When you say:
"An http-url which gets a POST
(Since the second one could just be an implemented using the first one, it's maybe better to consider it in a second step)"
Does It mean let the user provide a url to call once the authentication is complete? If that's the case I think I can add a new directive to the

[2018-03-09 05:58] magikstm opened #71 ""Bad Request: Method or content-type not supported" if "Username" is empty on login"
How to reproduce:
1) Visit login page
2) Don't provide a "Username"
3) Click "Login"

Error displayed is: `Bad Request: Method or content-type not supported`

Tested with current master of Caddy, loginsrv and jwt as of today.

The error comes from this line:
https://github.com/tarent/loginsrv/blob/81ca088a121ac2edf2956a8c6ab261de0574d117/login/handler.go#L175

[2018-03-09 06:52] magikstm commented on #71
I'm unsure if adding these lines just above that one would be good:
[code]

Or if a new message on the login form in these cases may be better. Possibly something like:
`Please enter a username`

[2018-03-14 08:08] #71 closed

[2018-04-19 06:02] debackerl opened #79 "Is loginsrv 1.2.4 available in Caddy 0.10.13?"
Hello,

Is loginsrv 1.2.4 available in Caddy 0.10.13? I need to use new dynamic redirects and user claims files, but when using those features, Caddy 0.10.13 says it can't process my config:

Here is my config:

`        login {
                login_path /login
                google client_id={$GOOGLE_CLIENT_ID},client_secret={$GOOGLE_CLIENT_SECRET},scope=openid%20email
                redirect

[2018-04-19 07:36] smancke commented on #79
should work now ..

[2018-04-19 22:09] debackerl commented on #79
Indeed! Thank you so much!

[2018-04-19 22:10] #79 closed

[2018-04-23 20:03] kvnndr0 commented on #79
login { login_path /login google client_id={$GOOGLE_CLIENT_ID},client_secret={$GOOGLE_CLIENT_SECRET},scope=openid%20email redirect true redirect_query_parameter redirect_uri redirect_check_referer false cookie_http_only true cookie_name jwt_token cookie_domain XXXX user_file /etc/caddy/users.yml }

[2018-04-26 21:42] Dragomir-Ivanov opened #80 "Serverless"
Hi guys,
wanted to ask if there is any plan to provide `serverless` support, since it gets more and more usage. Maybe something along the lines of: https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-use-lambda-authorizer.html

[2018-04-27 01:53] smancke commented on #80
Hey Dragomir, no plan for serverless so far.

[2018-04-27 01:53] #80 closed

[2018-05-13 21:26] kmonsoor commented on #58
People from future,

Please enable Google's **[Plus API](https://console.cloud.google.com/apis/library/plus.googleapis.com/)**, NOT [people API](https://console.cloud.google.com/apis/library/people.googleapis.com/). This is true when you need only the email of the user.

As the `scope` use `https://www.googleapis.com/auth/userinfo.email` on the line
`google "client_id=......,client_secret=.....,sc

[2018-05-21 15:43] ducdigital opened #82 "Need more explanation on `domain` for userfile.yml"
Hello guys,

What exactly is the `domain` that written in the example of your user file?

Is it the hostname that the user is signing on, or is it the domain of the user's email return back from oAuth?

Beside is there any way to validate user's email domain? something like validate the `company.info` part of `user1@company.info`?

Thank you

[2018-05-22 08:39] smancke commented on #82
The google oauth provider fills the JWT object with some data, which is returned by the `/people/me` endpoint. If you match against the domain in the userfile, it is matched against this fields.
See also:
https://github.com/tarent/loginsrv/blob/e482109fc416fb8678befb27336ab5d08ff10252/oauth2/google.go#L74

loginsrv does not do any validations. But e.g. if you use the caddy-JWT plugin, you can vali

[2018-06-03 02:46] philpennock opened #83 "oauth callback parameters not handled for errors"
While setting up a new site, as expected there was a mismatch in the redirect URI (next step was to fix that, testing the first step).  What surprised me is that nothing was shown in the login page generated by loginsrv, using the caddy plugin, when I was redirected back to the base site.

The callback URL parameters included:
* `error=redirect_uri_mismatch`
* `error_description=The+redirect_uri+M

[2018-07-19 13:16] nicolaspernoud opened #85 "Support $2a$ bcrypt prefix"
golang.org/x/crypto/bcrypt, generate $2a$ bcrypt prefix, it would be logical to authenticate against this prefix as well !?

[2018-07-20 12:01] nicolaspernoud commented on #85
That's done, thanks...

[2018-08-12 22:49] magikstm commented on #85
This was fixed in PR #86. This issue can be closed.

[2018-08-14 07:26] #85 closed

[2018-08-16 03:51] likewhatevs opened #88 "gitlab provider?"
@smancke - Awesome Library.

Would you be open to an MR enabling the use of Gitlab as an oauth2 provider?

If so, is there a way you recommend I get the domain name of the Gitlab instance to `Provider`?

I'm not seeing any clean ways to do this.

[2018-09-14 07:45] smancke commented on #88
Hi  @likewhatevs,
Sorry I forgotto come back to this after my summer holiday.

Yes, I would definitely be open to a Gitlab provider.

The domain could be supplied similar to the scope parameter and could than be used to set the Auth and Token URLs, see here:
https://github.com/tarent/loginsrv/blob/908622dcb707ceaef94ebb3da57ffa5c019dc937/oauth2/manager.go#L90

[2018-11-02 12:50] jhalderm opened #90 "Set "secure" attribute on JWT token"
loginsrv provides the option to set the "httpOnly" cookie attribute for the JWT token, but there seems to be no way to set the "secure" cookie attribute.  This is a vulnerability that makes it possible for a network-based attacker (e.g., a compromised WiFi router) to steal the cookie and intrude on the user's authenticated session.

Since the cookie doesn't have the "secure" attribute, browsers wi

[2018-11-02 13:03] smancke commented on #90
Good point!
Would make sense to provide an option for that.

[2018-12-09 19:52] xombiemp opened #94 "PHP $_SERVER['REMOTE_USER'] not set"
I've been able to get Caddy with http.login and http.jwt working with htpasswd.  I'm presented with a login page and after I authenticate I can see the resources.

I'm using fastcgi with php-fpm to server php files.  The app I'm running relies on $_SERVER['REMOTE_USER'] to get the logged in user, but this variable is not set after I login and try to print it from php.

Is there anything I can do t

[2018-12-09 21:38] magikstm commented on #94
Thanks for mentioning this issue. I'm adding this feature to loginsrv.

I'll submit a PR in 1-2h.

[2018-12-09 22:19] magikstm commented on #94
PR #95 should be reviewed and merged soon. In the meantime, if you can compile yourself, add this PR to your build of Caddy.

[2018-12-10 00:15] xombiemp commented on #94
Awesome! Thanks for looking at this so quick. I’ve not compiled, but I’ll look into that.

[2018-12-10 23:47] xombiemp opened #97 "redirect backTo not working correctly"
I'm trying to configure a dynamic redirect on successful login.  My Caddyfile looks like
[code]

From what I can gather the referrer host must match the current request host by default.
Here what my request headers look like:
<img width="544" alt="image" src="https://user-images.githubusercontent.com/690710/49768659-4d7cfc80-fc9a-11e8-80f4-6b8d0b81d152.png">
You can see that the host and the refer

[2018-12-11 01:04] magikstm commented on #97
Try changing to this:
[code]

Then try clicking on a link like this one:
`<a href="/login?backTo=/rutorrent/">login with backTo</a>`

Worked for me locally with Windows 7 x64.

Then adjust as needed.

If it doesn't work please share both your client browser and OS as well as your server OS.

[2018-12-11 15:23] magikstm commented on #97
Ref: https://github.com/tarent/loginsrv#redirects

You can use these two to adjust behavior:
[code]
[code]

If you simply browse to a URI without actually clicking a link your referer would be empty. Accepting that by default would open the user to phishing or login attacks even if user visited site before from same session.

[2018-12-11 21:15] magikstm opened #98 "Argon2 (Argon2i, Argon2d and Argon2id) hashing - Should it be implemented?"
Argon2 is available in Golang, PHP and a few other languages.

It is considered safer than Bcrypt, but it is quite less mature.

I don't think it is a required feature, but may be nice to add eventually in the future.

I would categorize it has a possible enhancement at the moment.

Ref:
https://en.wikipedia.org/wiki/Argon2
https://godoc.org/golang.org/x/crypto/argon2
https://crypto.stackexchange.

[2018-12-11 23:04] xombiemp commented on #97
Ok, thank you for your response.  I understand the behavior now and can see that this is how it was designed to work to be more secure by default.  I will add redirect_check_referer false so that browsing directly to a URI redirects correctly.
Thanks!

[2018-12-11 23:04] #97 closed

[2018-12-12 17:51] xombiemp opened #99 "Missing viewport meta tag"
When I view the login form on a mobile device it looks super small.  This surprised me because I know Bootstrap is responsive and mobile first.

I looked in the template and I see that there is a viewport meta tag in the head https://github.com/tarent/loginsrv/blob/23bd16e1ae8f7c8b8442b0119e7d4a25a7ae9cf9/login/login_form.go#L107

However, when inspecting the login form using developer tools it ap

[2018-12-12 18:23] xombiemp commented on #99
Sorry, I see that this has already been added since the last release: https://github.com/tarent/loginsrv/commit/114d1773868ba326c44f48da14aac55d5860bb18

I guess I just need to wait for a new release.

[2018-12-12 18:23] #99 closed

[2018-12-13 07:42] asdptkt commented on #88
https://github.com/tarent/loginsrv/pull/92

[2018-12-24 15:00] asdptkt opened #100 "None of the resp.Body are closed in any of the Oauth2 providers"
I've looked into the code and none of them invoking `resp.Body.Close()` in any of the code. Is there any reason for this or could I make a PR for this? Thank you.

[2018-12-24 15:32] dobegor commented on #65
@smancke is there anything that needs to be updated regarding Plus API Shutdown?
I.e. `plus.people.get` method is deprecated now and will be removed.

[2018-12-24 15:55] smancke commented on #65
@dobegor Yes, the following call has to use another api.
https://github.com/tarent/loginsrv/blob/23bd16e1ae8f7c8b8442b0119e7d4a25a7ae9cf9/oauth2/google.go#L37
I have put this on schedule to do it at least in the second week of January, because I'm also using google auth in production. If somebody want's to do it faster, feel free to submit a pr :)

[2018-12-24 15:57] smancke commented on #100
@asdptkt Thank's for pointing that out!
Yes, a PR would be very nice!

[2018-12-25 21:26] magikstm opened #101 "Small security issue - Caddy jwt-secret value - If default is not used the first jwt-secret is used"
---**This issue could be a breaking change depending on the caddyfile and exact setup**---

My use-case is to have two subdomains providing different content and use two different secret keys.

I tested this minimal caddyfile on Windows 7 x64:

[code]

I checked the produced token there: https://jwt.io/

I noticed the first `jwt-secret` ('aaaaaaa') is used for both subdomains.

I'm investigating t

[2018-12-25 21:31] magikstm opened #102 "Parameter cookie-name - Doesn't work currently with caddy-jwt 3.6.1 - Doc revision"
This issue has been reported by @martenjacobs here: https://github.com/BTBurke/caddy-jwt/issues/38

It'll probably be resolved by this PR: https://github.com/BTBurke/caddy-jwt/pull/39

I think a revision to the doc after this PR is pulled would help.

I'll create a PR in the next few hours related to PR above.

[2018-12-25 22:05] magikstm opened #103 "Edge-case that I don't think work as expected - cookie-name"
I'm unsure if these should be corrected and how they should be.

At the moment, if you do this:
1) Different cookie-name in http.login and http.jwt (with this PR https://github.com/BTBurke/caddy-jwt/pull/39)

If you use `redirect` in http.jwt you are:
1) Redirected to http.jwt's `redirect` page that is in your caddyfile
2) Unable to navigate to any page that is protected by http.login
3) But, you

[2018-12-26 03:05] magikstm commented on #103
I tried to find a solution for this issue and I don't think it'll be an easy fix.

I added details in README.md in PR #106 which could help users if they get similar issues.

@smancke review this issue and feel free to merge PR above if you think it may help in the meantime.

[2018-12-26 11:30] JesusIslam commented on #100
@smancke https://github.com/tarent/loginsrv/pull/107

This is the PR.

[2018-12-26 22:41] #94 closed

[2018-12-26 22:43] magikstm commented on #100
@smancke this issue was related to #107 which was recently merged and could be closed.

[2018-12-27 19:51] #100 closed

[2018-12-27 19:53] #82 closed

[2018-12-27 21:13] #90 closed

[2018-12-27 21:17] #60 closed

[2018-12-31 20:21] magikstm opened #108 "Caddy - Unexpected behavior on path having the right -login-path prefix, but other characters following it"
When using Caddy, if you use default `-login-path` being `/login` I created a table with current behavior and what I believe are expected behavior:

| Test no | Path | Current behavior | Expected behavior |
|--|:--:|--:|--:|
| 1 | /login | Displays login page | Displays login page |
| 2 | /LOGIN | Displays login page (if CASE_SENSITIVE_PATH stays "false" which is default) otherwise returns a 404 |

[2019-01-02 01:27] dh1tw opened #110 "redirect directive "backTo" does not work on OAuth Logout"
Hey,

thanks for this awesome piece of software!

I'm using loginsrv as a plugin in Caddy in order to protect some URLs. Users must authenticate with OAuth2 for accessing the restricted pages.

The login redirect works perfectly. If I call `https://auth.mysite.com/login/google?backTo=https://mysite.com` it will return me automatically after the OAuth Login to `https://mysite.com`.

Unfortunately,

[2019-01-02 15:04] smancke commented on #108
Hi @magikstm the login path is by design a prefix.
This is used e.g in case if oauth flows, e.g. `/login/google` etc.

[2019-01-02 15:04] #108 closed

[2019-01-02 16:16] smancke commented on #108
But maybe it would make sense to return a 404 for the cases 3 and 6.
So only allow /login and all sub ressources ..?

[2019-01-03 17:39] dh1tw commented on #110
thanks for the swift reply. the `-logout-url` parameter does the job. Excellent.

Thanks!

[2019-01-03 17:39] #110 closed

[2019-01-03 20:30] #65 closed

[2019-01-03 20:42] #88 closed

[2019-01-14 22:56] magikstm commented on #103
I edited first message in this issue as I couldn't reproduce other issue I mentioned.

I edited PR #106 accordingly.

[2019-01-17 05:48] magikstm opened #114 "Is next release (after 1.2.4) planned soon?"
@smancke is the next release planned soon?

Caddy and caddy-jwt recently made new releases. It would be sweet if loginsrv would get one too that includes the recent changes.

[2019-01-17 10:18] smancke commented on #114
yes, I will do this soon.

[2019-01-17 10:18] #114 closed

[2019-01-19 16:32] #101 closed

[2019-01-19 16:53] smancke commented on #103
Thx!
Addind this in the documentation is the best we can do with valuable effort.

[2019-01-19 16:53] #103 closed

[2019-01-19 17:00] #102 closed

[2019-01-19 17:06] smancke commented on #83
Can't reproduce this:
When I simulate this, I get a red error box with the text: _'Internal Error. Please try again later. '_

[2019-01-19 17:06] #83 closed

[2019-01-24 19:06] markbiria opened #115 "README file simple mistake"
Hi

There is a simple mistake in the main readme file, section startup examples
there is a parameter -secure-cookie but the real parameter is -cookie-secure.

[2019-01-25 09:59] #115 closed

[2019-01-26 20:05] markbiria opened #117 "Custom Backened"
Hi

Can i add my own custom backend for example a database of username and password, to be authenticated against?

[2019-01-26 20:46] magikstm commented on #117
There are some options:
1) Htpasswd (with a file possibly exported from DB)
2) Httpupstream
3) Writing your own backend

[2019-01-26 22:47] markbiria commented on #117
Thanks,

I've just realized that there is a backend interface that i can implement for my own backend.

[code]

[2019-01-31 08:01] JesusIslam commented on #117
@markbiria don't forget to make a PR after you've done 😛

[2019-01-31 10:20] matfiz opened #118 "Self hosted gitlab"
I am more than happy to see the support for Gitlab authentication!

It would be useful to add an extra param `host_name` to allow for custom self-hosted Gitlab domain (instead of the default gitlab.com).

[2019-01-31 10:39] magikstm commented on #118
I'm pretty sure @smancke may be open to a PR adding this feature.

In the meantime, if you self-compile loginsrv and/or caddy + loginsrv, you could try adjusting these 3 lines and I believe it may work:
https://github.com/tarent/loginsrv/blob/master/oauth2/gitlab.go#L13
https://github.com/tarent/loginsrv/blob/master/oauth2/gitlab.go#L33
https://github.com/tarent/loginsrv/blob/master/oauth2/gitlab.

[2019-01-31 11:13] matfiz commented on #118
Thanks a log @magikstm for your input! This is exactly what I've done locally (caddy+loginsrv) and it works as a charm! I'm have very little experience with golang though and would prefer a real wizzard like @smancke to perform the customization.

[2019-02-01 21:57] nektro opened #119 "Discord OAuth2"
If interested, I would be okay with taking this on, as I have already implemented Discord auth in Go previously.

[2019-02-04 08:18] smancke commented on #119
Hi @nektro i don't know Discord, but it seems to have a big user base, so, fine for me to support it.

[2019-02-04 14:15] pecigonzalo opened #120 "Support a /validate for use with ngx_http_auth_request_module"
It would be great to have a `/something` endpoint that could be used with NGINX https://nginx.org/en/docs/http/ngx_http_auth_request_module.html.

If you can give me some pointers, im happy to do the PR

[2019-02-04 14:47] smancke commented on #120
Hi @pecigonzalo, yes would make perfect sense.
You should make the resource at `/login/validate` and it should return the token content as JSON, if the Accept-Header for JSON is present. The implementation should share the code with https://github.com/tarent/loginsrv/blob/14651bba903922fccb34776ef16aaf632c2fd878/login/handler.go#L151-L160

Please do not forget the tests and documentation in the RE

[2019-02-04 16:36] pecigonzalo commented on #120
@smancke I was going through the code, and we might not even need the path.
EG: NGINX
[code]

Seems to work for the most part, except for the fact that
- I believe `/login` should return `401` not `403`
- Im setting `/login` json as a separate locaiton, to avoid the client then doing POST `/login` and getting JWT return.
- We might make it cleaner by just doing an `@this` location.

[2019-02-08 21:43] huguesalary opened #121 "caddy login_path /"
Considering the following caddyfile:

[code]

Navigating to `locahost:8080/` will correctly show the Google Sign-In button, however, clicking on it will redirect to `http://google` instead of `http://locahost:8080/google`.

The issue is in the template used to generate the login form:

[code]

Specifically the `href="{{ $.Config.LoginPath }}/{{ $providerName }}"` adds a slash unconditionally betwe

[2019-03-01 17:41] uchagani commented on #44
Any movement on this?

[2019-03-27 13:08] florentsolt commented on #44
Would be awesome!

[2019-03-27 13:12] bs-matil commented on #44
@florentsolt  if you look for similar functionality have a look at keycloak gatekeeper

[2019-03-27 13:12] #44 closed

[2019-04-18 21:12] Dragomir-Ivanov opened #125 "JWT-Refresh purpose?"
What is the purpose of JWT-Refresh? When I set `-jwt-refreshes=5`, `loginsrv` allows me to refresh a token,but only if it is already `valid` i.e. NOT Expired. What is the purpose of refreshing still valid token? I would assume, Refresh should refresh already expired tokens, without asking for user/pass.
Any advice appreciated, thanks!

[2019-04-19 14:26] smancke commented on #125
Hi @g-w,
using this feature, it is possible to extend a user session for a web application.
E.g. for a web application I would set the token expiry time to 10min and schedule a refresh as long as the browser tab is open. To schedule the refresh, you can look at the expiry time in the token itself.
Refreshing an expired token would make the expiry effect less.

[2019-04-19 14:26] #125 closed

[2019-04-19 21:12] Dragomir-Ivanov commented on #125
Thanks for the fast reply. 10min is way too intimidating for my web app users, I guess asking for user/pass for inactivity oh 24h is more acceptable. This is such a wonderful project. Probably I may add some MongoDB persistence for user/pass/claims, if such functionality is accepted.

[2019-04-22 07:22] rucciva opened #126 "OpenID Connect"
Hi, is there any plan to include OpenID Connect as a backend?

Thanks

[2019-04-22 09:34] smancke commented on #126
The OAuth Backends (e.g. the google one) are indeed doing OpenID Connect, if I got the Idea behind OpenID Connect right.

[2019-04-22 09:40] smancke commented on #125
Hi @Dragomir-Ivanov a persistance for user/pass/claims would of course be useful, but I would not include it in this project. It should live in a separate service.

[2019-04-22 09:44] rucciva commented on #126
OpenID Connect is a standard so i think it should be possible to be used with another OpenID Connect provider besides google. Most of OpenID Connect relying part that i have encountered usually need to point to the /.well-known/openid-configuration URL or directly storing the configuration. Here are an example from [sonarqube](https://github.com/vaulttec/sonar-auth-oidc).

i think by implementing

[2019-04-22 10:01] smancke commented on #126
OK, would be a  good idea to make a generic backend which uses the discovery document and does the configuration dynamically.

[2019-04-22 12:03] Dragomir-Ivanov commented on #125
Hi @smancke , no problem. Any advice how we should connect `loginsrv` to this other service. Maybe `loginsrv` can have some callbacks to call on each login/refresh attempt?
I haven't heard of OSIAM, and its web site seems dead.

It would be superb, if `loginsrv` can be used alone, and can have more dynamic user details. If we agree on path forward I can make PRs. Thanks!

[2019-04-23 16:51] rochdev commented on #58
What is the replacement API now that Google+ has been deprecated? It's very unclear in Google's own documentation.

[2019-04-23 18:00] smancke commented on #58
Hi @rochdev
as mentioned in the README:

[2019-05-11 12:54] herohamp opened #128 "Claim list?"
What are all the claims that caddy-jwt gets access to? Im trying to allow users based on their gmail domain using caddy-login to login

[2019-05-13 07:17] g-w commented on #128
An example for the claims can be found here:

https://github.com/tarent/loginsrv#the-jwt-token

If you need to add additional information to the claims you can use a [users file](https://github.com/tarent/loginsrv#user-file). For example add a section like this:

[code]

[2019-05-13 07:17] #128 closed

[2019-05-13 17:08] smancke commented on #125
Hi @Dragomir-Ivanov,
today, we merged a hook for a condigurable UserService endpoint to loginsrv
See: https://github.com/tarent/loginsrv#user-endpoint
Together with the httpupstream authentication it is simple to create a compatible standalone user service.

[2019-05-13 22:02] xadereq commented on #118
@smancke could you provide this feature soon? Since new version of caddy(1.0.0) its getting harder and harder to use own fork of loginsrv.
It shouldn't be that much time consuming...

[2019-05-14 10:52] Dragomir-Ivanov commented on #125
Thank a ton. Will take a look.

[2019-06-24 13:44] ppoloskov opened #132 "Traefik forward authentication"
Is it possible to use Loginsrv as forward auth proxy with traefik (https://docs.traefik.io/configuration/entrypoints/#forward-authentication)?

[2019-07-02 21:44] mholt opened #133 "Caddy's import path has changed"
Caddy's import path (and Go module name) has changed from

[code]

to

[code]

Unfortunately, Go modules are not yet mature enough to handle a change like this (see https://golang.org/issue/26904 - "haven't implemented that part yet" but high on priority list for Go _1.14_) which caught me off-guard. Using Go module's `replace` feature didn't act the way I expected, either. Caddy now fails to buil

[2019-07-04 09:49] smancke commented on #133
@mholt No big thing, I'll do it soon (i guess at the weekend)

[2019-07-10 17:07] xombiemp commented on #133
@smancke Could you please fix this? I'm getting an error trying to install using this Archlinux package and I think this is why. https://aur.archlinux.org/packages/caddy/

[2019-07-15 02:23] NurdTurd commented on #119
:+1: I would love to see support for this! Also hey @nektro 😄

[2019-07-16 22:09] xombiemp commented on #133
@smancke I tried to create a pull request, but I couldn't figure out the go modules. Would greatly appreciate a fix.

[2019-07-17 12:47] bamling commented on #133
@smancke https://github.com/tarent/loginsrv/pull/136
I changed the import paths and tidied up the `go.mod` and `go.sum` files... just needs an approval. :smile:

[2019-07-17 13:30] bamling commented on #133
PR was merged, this issue can probably be closed now.

[2019-07-17 15:57] xombiemp commented on #133
@bamling Thanks for doing this!
@smancke So I think a new release has to be made now, is that correct?

[2019-07-18 13:34] smancke commented on #133
thx @bamling !
I have created the release for the caddy deployment.

[2019-07-18 13:34] #133 closed

[2019-09-03 23:35] cweagans opened #137 "Include JWT in the redirect URL"
If I set `backTo=https://myservice.com/somepage?jwt=[token]` on my redirect, I'd like for the JWT to be included in the URL. Is this something that you'd accept a PR for? Or is this functionality already present in loginsrv?

This functionality would open up a lot of opportunities for me to use loginsrv!

[2019-09-03 23:43] magikstm commented on #137
What would be the use-case for it?

[2019-09-04 02:41] cweagans commented on #137
We manage several hundred websites. I want to do SSO with our Google Apps account, but keeping the Google integration working for thousands of URLs is tiresome (and not easily automated), so the thought is that we'd redirect to loginsrv, do the Google authentication, and then get redirected back to whatever website sent them along to `/login?token=[whatever]`, where the authenticated user would be

[2019-09-04 02:43] cweagans commented on #137
More generally, the Caddy jwt plugin also supports grabbing the jwt out of the query params. Maybe this would be helpful for the more general case of having one caddy server that handles auth and another that actually serves the protected applications.

[2019-09-04 06:59] smancke commented on #137
Not totally sure, if it is a good idea for security-reasons, to include the token in the URL, but since it in an optional feature I would be open of a (testes) P :)

[2019-09-04 14:53] cweagans commented on #137
JWTs are designed to be public information. Can you elaborate on what your security concerns are? Just wanna make sure things get built as expected.

[2019-09-04 14:59] smancke commented on #137
No, only the payload is designed to be public. The JWT with the signature is a secret.

Things like Caching in the Browser-History, referrer, ..

[2019-09-04 22:03] magikstm commented on #137
If misused or if the use-case isn't analyzed properly, it could bring:
- Information disclosure attacks or vulnerabilities
- Injection vulnerabilities

The value of that token will most probably need to be validated a second time to ensure it hasn't been modified by the end user.

It's true that it could be an optional feature, but I'm unsure it would bring more pros than cons in an actual applica

[2019-09-04 22:47] cweagans commented on #137
That does not reflect my understanding of how JWTs should be used. Why would a cryptographically signed blob of data not be publicly shared? Do you have a reference that you can point at that reflects your position?

If I first accept that JWTs are not supposed to be public, then this makes sense.

Agreed on the former (although my understanding is that JWT claims should be considered public infor

[2019-09-05 07:51] smancke commented on #137
It's rather simple: If you use the JWT as a secret to prove to service X that you have done a login at service Y. Than everybody else who has the JWT can also do this prove.

[2019-09-15 20:28] xmflsct opened #138 "Caddy+Portainer behind oauth2"
How can I deploy Portainer on Caddy behind oauth2.

Portainer is running under subdomain, like portainer.domain.com.
When trying to login, seems like javascript is throwing error, being redirected to auth, although I have authenticated. Portainer runs fine under localhost. Any suggestions? Thanks!

[2019-09-16 06:51] magikstm commented on #138
Could you please share:
- The error you are getting (in javascript)
- Your full caddyfile
- The full URL of the page on which you login

[2019-09-16 06:55] magikstm commented on #132
Did you try using loginsrv with Httpupstream?

Ref: https://github.com/tarent/loginsrv#httpupstream

[2019-09-16 06:56] magikstm commented on #117
@smancke I suggest closing this issue as it seems resolved.

[2019-09-16 07:01] magikstm commented on #98
Closing as Argon2 is still considered a draft by IETF.

Ref: https://datatracker.ietf.org/doc/draft-irtf-cfrg-argon2/

[2019-09-16 07:01] #98 closed

[2019-09-16 07:26] xmflsct commented on #138
The errors I am getting in browser are:
`
/#/auth:1 Access to XMLHttpRequest at 'https://auth.server.domain.com/login?backTo=https%3A%2F%2Fportainer.server.domain.com%2Fapi%2Fextensions%3Fstore%3Dfalse' (redirected from 'https://portainer.server.domain.com/api/extensions?store=false') from origin 'https://portainer.server.domain.com' has been blocked by CORS policy: Response to preflight request d

[2019-09-16 08:57] xmflsct commented on #138
Thanks! But no luck still.

[Portainer](https://www.portainer.io/) is pre-packed so I could not easily modify the source code.

And I tried to add the CORS plugin, placing it in multiple blocks but still get the same error.
Could you help me understand, why those resources requested by JS are still being redirected to auth server although I have successfully signed in via oauth2?

[2019-09-16 09:41] magikstm commented on #138
Do you have Caddy logs and errors activated?

Are there more info in them?

I'm unfortunately not familiar with Portainer.

I did find this though: https://github.com/portainer/portainer/issues/1939

I would need more details to investigate further. I would have though the CORS plugin would solve this.

Did you ensure you:
1. Replaced the executable of Caddy (which includes the plugin)
2. Changed

[2019-09-16 11:45] xmflsct commented on #138
Still a nope. Yes I have restarted the service every time I update Caddyfile. :) And since I am using auth, I also clear site related cookie so that it starts from fresh (including tried a different browser).

Herewith the log I get so far with Caddy. It does not seem to print more detailed message. I get both `log stdout` and `errors stdout` from within the container.

`
caddy    | i.p.i.p - - [1

[2019-09-16 16:01] magikstm commented on #138
Why does `portainer.server.domain.com` have `import int-auth` and `auth.server.domain.com` doesn't?

I believe that may be the issue. Try adding that import to that one as well or moving it to `*.server.domain.com`.

Also, that part seems unneeded:
[code]

[2019-09-16 17:04] xmflsct commented on #138
Still nope.

Now my Caddyfile looks like this. Just as brief, details are the same as before.
[code]

Same error in the log, that HTTP OPTIONS are always being directed to auth. GET and POST are both fine.
Very interestingly, if I import `int-auth` only within `*.server.domain.com`, no authentication will happen at all. I have place it each time within a subdomain to let it work.
Could be that the

[2019-09-18 20:40] xmflsct commented on #138
@magikstm After Googling and Googling, I found the problem, https://caddy.community/t/oauth-proxy-rejecting-some-requests/4546/2.

[2019-09-18 20:45] magikstm commented on #138
How did you resolve it?

[2019-09-18 22:34] xmflsct commented on #138
Like said in the link, double proxy to rewrite header. Not a neat solution. :)
I was trying to see if I can change jwt's header type since login uses cookie. But if I add `token_source header`, I cannot get pass jwt anymore. So I gave up and use double proxy.

But actually it still has problem sometimes, don't know why. I sometimes get kicked out of Portainer, and one of the calls get 401.

At the

[2019-09-18 22:34] #138 closed

[2019-09-18 22:36] magikstm commented on #138
Awesome. :)

[2019-09-29 12:38] adrianmihalko opened #140 "Redirect if user is unathorized"
I am followed this great [guide](http://kamal.io/blog/securing-internal-services-…) about Caddy & OAuth2 authentication and I have one question:

"Now, when you browse to https://auth.int.domain.tld, you will be able to log in using your Google account. Note that anyone will be able to log in here, but not everyone will have access to the protected services. We will limit service access to specifi

[2019-09-30 08:01] g-w commented on #140
Hello @adrianmihalko,

in general the solution is to remove the jwt token from the users cookie and redirect him to the login page. But I think this can not be achieved with the caddy http.jwt plugin.

Since it is no problem that a user is authenticated as long as your authorization is correct and denies access to your services to unwanted users, you should consider to give some information to the

[2019-09-30 08:01] #140 closed

[2019-10-08 08:11] LinusT commented on #132
I believe what @ppoloskov (and I) are interested is the reverse of what you are referring to @magikstm. IE let traefik delegate the authentication to loginsrv.

Perhaps looking into this https://github.com/tarent/loginsrv#get-login could be the way forward?

Are there any examples for loginsrv as upstream authenticator for any proxy (not specifically traefik) that can be shared here?

ATM I do not

[2019-10-08 09:54] g-w commented on #132
Hello @LinusT,

the "GET /login" endpoint might not be a solution for your problem. But I think it could be easily turned into an endpoint that behaves as expected by the traefik middleware.

A better solution would be to use the JWT tokens issued by loginsrv and check them either in a custom traefik middleware or in the services.

I will close this issue. If you want to  suggest any improvements,

[2019-10-08 09:54] #132 closed

[2019-10-12 20:50] adrianmihalko opened #141 "Whitelist IP"
Is there any way to whitelist an IP (do not ask for authentication)? I am using Google authentication with JWT to login, but I want to whitelist certain IPs, so they do not need to login.

[2019-10-13 03:49] magikstm commented on #141
This feature isn't available in loginsrv at the moment and hasn't been discussed before.

If it would be considered, it could maybe be implemented as the ipfilter plugin:
`ip: A sequence of IP adddresses or CIDR ranges to match. For example, ip 1.2.3.4 192.168.0.0/24 This is optional. It can be used more than once in each ipfilter block rather than enumerating all IPs after a single ip directive.`

[2019-10-14 07:31] smancke commented on #141
Hi @adrianmihalko,
since loginsrv is only creating the token an not doing the access restriction, you need to implement your IP whitelist somewhere else (e.g. caddy jwt).

[2019-11-09 18:52] adrianmihalko opened #142 "Sign in with Apple"
Is there any chance for a Sign in with Apple support in the future? It would be great.

https://developer.okta.com/blog/2019/06/04/what-the-heck-is-sign-in-with-apple

[2019-11-22 22:47] magikstm opened #149 "Increase default JwtSecret length to enhance security"
Current JwtSecret length is vulnerable to bruteforce being only 32 bytes.

It's length should be increased to at least 512 bit (64 bytes) (same length as default JWT algorithm hash key length).

Ref: https://github.com/tarent/loginsrv/blob/master/login/config.go#L21

[2019-11-24 21:47] Dragomir-Ivanov opened #150 "Tests panic with following command"
[code]
[code]

[2019-11-25 21:15] kernle32dll commented on #150
Can confirm the issue. Had these locally, too. Seems like some concurrency problem.

[2019-11-25 22:41] Dragomir-Ivanov commented on #150
Hmm, I think there are no goroutines involved, but map iteration is non-deterministic, so If any piece of code relies on map iteration order, it can bomb like that.

[2019-11-26 12:58] g-w commented on #150
The issue is that `ReadConfig` uses the global `flag.CommandLine` var and adds the flags each time called. This leads to the panic. See: https://github.com/tarent/loginsrv/blob/master/login/config.go#L202

[2019-11-26 14:55] Dragomir-Ivanov commented on #150
@g-w But when I run `go test -p 1` it still panics, although it should execute only one test at a time.

[2019-11-26 17:09] g-w commented on #150
@Dragomir-Ivanov The issue is not related to parallelism. The issue is that if you read the config twice, all flags are added twice and newer versions of the flag package prevent this. This trigger the panic you've observed. I added a pr with a workaround for the issue.

[2019-11-26 17:24] Dragomir-Ivanov commented on #150
@g-w Thanks! Apparently it panics only on test count > 1, so your patch fixes that.

[2019-12-04 09:56] kernle32dll opened #154 "Build pipeline overhaul"
This is a collection of things, that caught my attention and/or interest.

**1. Leverage docker multi-stage builds**
While it is fine to build the binary outside the docker context, there is still something to gain from docker multi-stage builds. For example, for a fully static binary build, it is not necessary to use the "full" alpine image. Instead, an additional "FROM scratch" layer could be us

[2019-12-06 13:11] #149 closed

[2019-12-09 08:23] g-w commented on #142
Hello @adrianmihalko,
in general we are open to implementations of alternative providers and hence also for an implementation of 'Sign in with Apple" (since it basically is another oauth2 provider). Since we don't use it and don't plan to use it, the feature is not on our roadmap. But we are open to pull requests. If you need any help please ask.

[2019-12-20 09:02] kernle32dll commented on #142
I've read up on it, and it seems fairly simple to implement. Maybe I will take a stab at it over the holidays. But no promises.

http://p.agnihotry.com/post/validating_sign_in_with_apple_authorization_code/index.html

[2019-12-20 09:11] adrianmihalko commented on #142
It would be great.

[2020-01-09 20:45] joshstrange opened #162 "Has prevent-external-redirects been removed?"
I'm getting an error trying to use it in caddy and [I found this commit](https://github.com/tarent/loginsrv/commit/ea40df699b8c3f3fc0f8b1db309ef83e2afc0858) which seems to indicate it has been removed in favor of a whitelist

Is it just the readme that is out of date on this or am I missing something else?

[2020-01-09 20:55] magikstm commented on #162
Your research are right. This parameter has been removed in favor of a whitelist.

The whitelist can be configured with the parameter: -redirect-host-file

https://github.com/tarent/loginsrv/blob/master/login/redirect.go#L97
https://github.com/tarent/loginsrv/blob/master/login/config.go#L154

[2020-01-09 20:57] magikstm commented on #162
The parameter: -prevent-external-redirects

Should be removed from the doc.

[2020-01-09 21:09] #162 closed

[2020-01-12 07:20] magikstm opened #164 "Doc suggestion - Add more example usage as a Standalone microservice"
I suggest adding a few example usage of loginsrv as a Standalone microservice on the main page.

I think these should be added:
- Basics (help being available with loginsrv -help)
- HTTPd (Apache)
- NGINX
- Caddy 1
- Caddy 2

[2020-02-09 05:16] jackodsteel opened #165 "GitHub OAuth2 login deprecation notice: using the `access_token` query parameter is deprecated."
GitHub has deprecated the use of `access_token` as a query parameter for the `https://api.github.com/user` endpoint.

Instead we should now use the `Authorization` header as per:

https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#authenticating-using-query-parameters

There isn't a timeline when this will actually be disallowed, but they send an email eve

[2020-02-11 03:04] magikstm opened #167 "Caddy 2 port"
Is a port of loginsrv for Caddy 2 planned?

Related discussion:
Caddy JWT plugin - https://github.com/BTBurke/caddy-jwt/issues/57

[2020-02-12 08:58] smancke commented on #167
We did not investigated in that, so far ..

[2020-02-16 20:41] greenpau opened #168 "Add new provider - SAML via Azure AD"
Currently, the is no SAML backend. I want to open this issue to work on it to support Azure AD workflow.

In Azure, there is an ability to create an application registration. When Azure users click on the icon associated with the application, they get redirected to a configurable URL, e.g. caddy proxy.

The redirected response could be a POST containing SAML payload.

Here, in case of AWS, it look

[2020-02-17 03:36] greenpau opened #170 "Add WIP integration"
It would be nice to have WIP integration, such that if the title of a PR contains "WIP:", the PR does not go through CI/CD. Otherwise, every push and rebase for WIP PR is getting a build.

[2020-02-17 05:17] mholt commented on #167
(Subscribing to this issue)

Let me know if you have any questions; see also [this comment](https://github.com/BTBurke/caddy-jwt/issues/57#issuecomment-583677683) by @roblabla

[2020-02-17 15:24] roblabla commented on #167
https://github.com/roblabla/loginsrv/tree/caddy2

I'll PR this fork when it's in a more ready state. I need to make sure the tests pass, fix the caddy2 folder's README, and make a demo.

[2020-02-23 15:13] greenpau opened #171 "question: jwt integration"
The `login` Caddy plugin creates `jwt_token` cookie. The `jwt` Caddy plugin reads the JWT token in the cookie and authorizes access.

The `login` plugin creates JWT token using HMAC algo (HS512). In order to compute an HMAC both plugins need a secret key.

What is the expected interaction between `login` and `jwt` plugin? How do the two make sure that the secret key is in sync?

cc: @g-w

[2020-02-23 18:16] greenpau commented on #171
Stumbled upon the following [comment](https://github.com/BTBurke/caddy-jwt/issues/57#issuecomment-583677683) by @roblabla. It answers my question:

    caddy-jwt and loginsrv have a cool "feature" where loginsrv will automatically generate a random jwt
    secret if none are set in the Caddyfile, and store it in the JWT_SECRET environment variable. When
    caddy-jwt later parses its own directive

[2020-02-23 18:16] #171 closed

[2020-02-24 13:50] roblabla commented on #171
FWIW the second paragraph refers specifically to my attempt at making that feature work in my Caddy2 fork of the two modules. It works with 100% reliability in the Caddy1 version found in this repo.

[2020-03-12 16:48] #165 closed

[2020-03-20 10:08] cceyda opened #172 "Share JWT token across subdomains"
[with caddy-plugin] I want to be able to access `y.domain.com` and `x.domain.com` with the same token.
My use case is;
I have some static files at `y.domain.com` that are being loaded inside` x.domain.com`.
What would be the correct/secure setup for this? I'm guessing I might be able to set this up using the redirect_host_file, but have no idea how? or maybe with this [PR](https://github.com/taren

[2020-03-20 15:21] magikstm commented on #172
Should be doable with cookie-domain depending on versions you currently use.

Ref: https://github.com/tarent/loginsrv/issues/102

I'll try to add an example to the doc on the main page this weekend.

[2020-03-26 08:21] #170 closed

[2020-04-28 00:57] icco commented on #167
@roblabla looks pretty great. Now that Caddy 2.0 is at r.c. 3 and looking to be released soon, how much do you have left? Anything we can help with?

[2020-05-05 07:30] #121 closed

[2020-05-07 10:48] fabiopedrosa commented on #167
Same question. Anything we can help with?

[2020-05-07 16:14] mholt commented on #167
I believe these efforts have been combined into: https://github.com/greenpau/caddy-auth-jwt

[2020-05-11 16:17] JesusIslam opened #174 "Cookie SameSite attribute"
SInce Go 1.11, the Cookie struct has [SameSite](https://golang.org/pkg/net/http/#SameSite) attribute in it to prevent CSRF attacks. I think loginsrv need to provide `-cookie-samesite` option.

[2020-05-14 06:18] magikstm commented on #39
The related PR has been merged. I'm closing this issue.

[2020-05-14 06:18] #39 closed

[2020-06-07 20:39] cktang88 opened #177 "2fa/TOTP support"
Is there any way to get 2fa/TOTP to work with this?

[2020-06-08 08:00] g-w commented on #177
Hello @cktang88,

currently there is no direct support for 2FA in loginsrv and no plans to implement this. If you use OAuth2 (ie. google, facebook) the methods supported by the provider are supported. Further you could implement an [Httpupstream](https://github.com/tarent/loginsrv#httpupstream) service which supports 2FA.

In general this feature is (in my opinion) out of the scope of this project

[2020-06-08 08:00] #177 closed

[2020-11-02 06:29] georgevarghese185 opened #179 "Restrict OAuth access to specific email domain"
What I'm trying to achieve is something similar to Issue #57. I'd like to allow my users to login with Google but restrict access to our G suite domain.

I was considering just forking the repo and adding a step in the login flow that checks if the user's email domain matches a domain passed to loginsrv as an optional config variable. But before I do that, I just thought I'd ask and see if this fe

[2020-11-02 12:36] g-w commented on #179
Maybe the best currently supported approach is to allow login for all google users and add a [users file](https://github.com/tarent/loginsrv#user-file) to give certain claims only to the users of your domain. In the code that authorizes the user through the JWT you only have to check the claims part of the token.

[2020-11-03 06:40] georgevarghese185 commented on #179
Yeah, I suppose something like that could work for my use case. So then I just have to modify the token verification code part in my fork of the repo to assert a known claim for `@mycompany.com` users and reject any users that don't have that.

[2020-11-03 08:44] g-w commented on #179
There should be no need to fork loginsrv. It is no problem if somebody can authenticate to your application, if he isn't authorized to do anything. Simply verify the JWT in the http handlers of your application (or in a filter) and you are done. This has to be done either way.

@georgevarghese185 I will close this issue.

[2020-11-03 08:44] #179 closed

[2020-12-05 23:43] averri opened #180 "No such provider: Google"
Trying to configure the Google provider with:

`LOGINSRV_BACKEND=provider=google,client_id=???,client_secret=???`

... where the original data have been replaced by **???** just to protect the information here.

The logs shows the following error:
[code]

What's missing?!

[2020-12-05 23:52] averri commented on #180
I have tested using `LOGINSRV_GOOGLE=client_id=???,client_secret=???`, and it worked fine!

[2020-12-05 23:52] #180 closed

[2020-12-08 12:51] averri commented on #172
Hi @cceyda, your backend that creates the jwt cookie neet to set its domain to `domain.com`. In this way, the cookie will be valid for all subdomains of `domain.com`.

[2020-12-08 13:25] averri opened #181 "Redirect is not working"
I have the following configuration as part of my `docker-compose.yml`:

[code]

This is the sequence of operations:

1.  When accessing the protected subdomain `board.mydomain.com`, the webserver redirects to the login page with the query parameter `redirect_url` in order to go back to the original page. The login page is correctly presented from the URL `https://auth.mydomain.com/login?redirect_u

[2020-12-08 15:51] averri commented on #137
**BE CAREFUL** This is not true. If someone gets the JWT it's possible to impersonate the owner of the JWT. JWT must be protected at all costs! You should never put the JWT in the URL. This is a security violation.

[2020-12-08 16:12] #137 closed

[2020-12-08 16:43] averri commented on #181
I have noticed that the environment variable `LOGINSRV_REDIRECT_HOST_FILE` is mandatory for the dynamic redirect to work, and this is a great security feature.

After changing to the following configuration, the dynamic redirects are working fine.

[code]

[2020-12-08 16:43] #181 closed

[2020-12-08 20:56] cceyda commented on #172
Thank you~ I will close this now.

[2020-12-08 20:56] #172 closed

[2021-05-07 20:53] gc-ss opened #186 "Has anyone tried to integrate with Vault or any interest in doing so?"
Has anyone tried to integrate with Vault as a secrets store or any interest in doing so?

[2021-05-07 20:55] gc-ss commented on #186
Vault does come with some [IDM primitives](https://learn.hashicorp.com/tutorials/vault/identity?in=vault/operations) but it would be helpful to see some examples to help integrate and/or refer to.

[2021-05-25 18:54] deltawi opened #187 "CORS issue for local dev"
Hi all,

I am trying to use the loginsrv on my local machine. My frontend is calling the API using localhost but I get :

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:8090/login`

The login works in command line:
`curl --data "username=a@b.c&password=azerty" 127.0.0.1:8090/login
eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhQGIu